<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2016 THALES GLOBAL SERVICES.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0

  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
<extension point="org.polarsys.kitalpha.cadence.core.activity.declaration">
      <ActivityDeclaration
            Identifier="org.polarsys.capella.vp.requirements.importer.commandline.CommandLineInitializeTransformation"
            ActivityClass="org.polarsys.capella.vp.requirements.importer.commandline.CommandLineInitializeTransformation"
            Name="org.polarsys.capella.vp.requirements.importer.commandline.CommandLineInitializeTransformation"
            Multiple="false"
            WorkflowElementIdentifier="transition.workflow.init"
            WorkflowIdentifier="transition.workflow">
         <Description>
            Description body text
         </Description>
      </ActivityDeclaration>
       <ActivityDeclaration
            Identifier="org.polarsys.capella.vp.requirements.importer.commandline.CommandLineTransposerTransformation"
            ActivityClass="org.polarsys.capella.vp.requirements.importer.commandline.CommandLineTransposerTransformation"
            Name="org.polarsys.capella.vp.requirements.importer.commandline.CommandLineTransposerTransformation"
            Multiple="false"
            WorkflowElementIdentifier="transition.workflow.transposer"
            WorkflowIdentifier="transition.workflow">
         <Description>
            Description body text
         </Description>
      </ActivityDeclaration>
    </extension>
   <extension
         point="org.polarsys.capella.core.commandline.core.commandline">
      <CommandlineExtension
            class="org.polarsys.capella.vp.requirements.importer.commandline.RequirementsImporterCommandline"
            id="org.polarsys.capella.vp.requirements.importer.commandline">
      </CommandlineExtension>
   </extension>
</plugin>
